
div.disintegrate{
  background-color: #2980b9; 
  background-image: linear-gradient(to left, #2980b9, #6dd5fa, #ffffff);


  button{
    background-color: #5433ff; 
    background-image: linear-gradient(to right, #5433ff, #20bdff, #a5fecb);
  }
}
